.contacto-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 100px 300px 100px 300px;
  background-color: var(--prodContainer-bg);
}
.titulo-contacto {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-bottom: 50px;
  font-weight: 700;
}
.subtitulo-contacto {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 5px;
  font-weight: 600;
}
.container-mapa {
  width: 100%;
  height: 50dvh;
  margin-bottom: 50px;
}
.grid-contacto {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  width: 100%;
  padding: 10px;
}
.atencion-cliente-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.atencion-cliente-descripcion {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px 0 30px 0;
  margin-bottom: 10px;
  background-color: #111827;
  border-radius: 10px;
}
.formulario-contacto {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.atencion-grid-1 {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 10px;
}

.atencion-grid-2 {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 10px;
}
.text-area {
  background-color: var(--cards-bg);
  padding: 12px;
  border: 1px solid var(--borderForm-color);
  border-radius: 6px;
  font-size: 1rem;
  font-family: inherit;
  resize: vertical;
  transition: border-color 0.3s ease;
}
.btn-form {
  background-color: #1e1e1e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}
.titulo-bulonera {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 10px;
  font-weight: 700;
}
.horario-atencion {
  font-size: 1.1rem;
  color: #ffffff;
  margin-top: 5px;
}

/* MEDIAS QUERYS CELULARES */
@media (max-width: 480px) {
  .titulo-contacto {
    font-size: 18px;
  }
  .subtitulo-contacto {
    font-size: 15px;
  }
  .grid-contacto {
    display: flex;
    flex-direction: column;
  }
  .atencion-cliente-descripcion {
    display: flex;
    flex-direction: column;
  }
  .atencion-grid-1 {
    width: 100%;
    justify-content: center;
  }
  .atencion-grid-1 svg {
    height: 40px;
    width: 40px;
  }
  .atencion-grid-2 {
    width: 100%;
    justify-content: center;
  }
  .atencion-grid-2 svg {
    height: 40px;
    width: 40px;
  }
  .horario-atencion {
    font-size: 13px;
  }
  .titulo-bulonera {
    font-size: 18px;
  }
  .btn-form {
    padding: 5px 15px;
  }
}
@media (max-width: 767px) {
  .contacto-container {
    padding: 100px 20px;
  }
}
