.ofertas-container {
  width: 80%;
  padding: 40px 40px;
  box-sizing: border-box;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.titulo-ofertas {
    color: #080808;
    width: 80%;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    font-size: 2rem;
    margin: auto;  
}
.oferta-card {
  width: 260px;
  background: white;
  border-radius: 12px;
  padding: 15px;
  text-decoration: none;
  color: #333;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  transition: all 0.25s ease;
  position: relative;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.oferta-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}
.oferta-image {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}
.descuento{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #e53935;
  color: white;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
}
.titulo-oferta-container {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.oferta-title {
  font-size: 14px;
  font-weight: 500;
}
.oferta-description {
  font-size: 12px;
  color: #555;
}
.oferta-price {
  font-size: 20px;
  font-weight: bold;
  color: #2e7d32;
}
.oferta-price-base {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
  margin-bottom: 5px;
}
.ahorro {
  font-size: 14px;
  color: #e53935;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #e538352a;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.btn-ver-producto {
  background-color: #3483fa;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.btn-ver-detalles:hover {
  background-color: #2968c8;
}
.ofertas-footer {
  margin-top: 15px;
  text-align: right;
  width: 80%;
  margin: auto;
}

.ver-todas-link {
  color: #3483fa;
  text-decoration: none;
  font-weight: 500;
}

.ver-todas-link:hover {
  text-decoration: underline;
}
.ofertas-slider {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scroll-snap-type: x mandatory;
  padding: 10px;
}

@media (max-width: 768px) {
  .ofertas-container {
    width: 100%;
    padding: 10px 0px;

  }
  .titulo-ofertas {
    width: 100%;
  }
}