.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-none {
  text-decoration: none;
  color: var(--text-color);
  list-style: none;
}
.a-none {
  text-decoration: none;
  color: #ffffff;
}
.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3px;
}
.d-flex-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 3px;
}

/* Footer Style */
html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Empuja el footer al fondo */
}
:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --card-bg: #f5f5f5;
  --border-color: #c2c2c2;
  --borderForm-color: #CCC;
  --navbar-bg: #ffffff;
  --prodContainer-bg: #ffffff;
  --menuCat-bg: #e0e0e0;
  --menuCatHover-bg: #d7d7d7;
  --sliderContainer-bg: #ffffff;
  --footer-bg: #ffffff;
  --filterBox-bg:#E0E0E0;
  --cards-bg: #EBE8E8 ;
  --itemContent-bg: #ffffff;
  --buloneraTitle-color:#153174;
  --auth-bg: #FFFFFF;
  --statsCard-bg:#00000014;
  --adminSection-bg: #FFFFFF;
  --tableHead-bg: #F0F0F0;
  --itemContainer-bg: #E0E0E0;
  --totalContainer-bg:#c4c4c44b;
}

[data-theme="dark"] {
  --bg-color: #202324;
  --text-color: #e8e8e8;
  --card-bg: #1e1e1e;
  --border-color: #696969a9;
  --borderForm-color:#5a5a5a;
  --navbar-bg: #202324;
  --prodContainer-bg: #202324;
  --sliderContainer-bg: #532d1b;
  --footer-bg: #20232493;
  --menuCat-bg: #202324;
  --menuCatHover-bg: #333536f5;
  --filterBox-bg: #333536f5;
  --cards-bg: #333536f5;
  --itemContent-bg:#333536f5;
  --buloneraTitle-color:#7ca3ff;
  --auth-bg:#0091daf5;
  --statsCard-bg:#202324;
  --adminSection-bg: #202324;
  --adminHover-bg:#373d3f;
  --tableHead-bg:#333536F5;
  --itemContainer-bg: #333536f5; 
  --totalContainer-bg:#333536f5;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
@media (max-width: 768px) {
}
